
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

:root {
    --fondo: #262335;
    --morado:#9346DE;
    --verde: #00ADB9
}

::-webkit-scrollbar{
    width: 0.7vw;
    height: 0.7vw;
    background-color:black;
}

::-webkit-scrollbar-thumb {
    background-color: var(--fondo);
    border-radius: 15px;
    border: 2px solid var(--morado);
}


body{
    font-family: 'Press Start 2P', cursive;
    color: var(--morado);
    height: 100vh;
    
}

.container{
    height: 100vh;
    margin: 0 auto;
    width: 100%;
}

header{
    background-color: var(--verde);
    height: 10vh;
    display: flex;
    color: var(--morado);
    font-weight: bold;
    align-items: center;
}

header p{
    font-size:1.5em;
    text-align: center;
    margin:auto;
}

.logo{
    color: var(--morado);
    font-size:3em;
    margin-left: 2em;
    margin-right: 2em;
    text-decoration: none;
    text-shadow: 2px 1px 3px #B93AFF;
}

.container-main{
    background-color:var(--fondo); 
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh; 
    justify-content: space-around;
    align-items: center;
}


.entrada{
   
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   text-align: left;
   height: 80%;
   width: 50%;
       
}

.ingreseTexto{
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid var(--morado);
    border-radius: 20px;
    box-shadow: 0px 0px 10px;
    color: var(--morado);
    resize: none;
    font-size: 1.5em;
    text-align: justify;
    text-transform: lowercase;
    padding: 2em;
    width: 100%;
    height: 60%;
        
}

::placeholder{color: var(--morado);}
.ingreseTexto:focus{
        outline: none;
}

.container-exterior{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 100%;
}


.container-exterior p label{
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    margin-top: 1em;
}

.mensaje{
    width: 30%;
    height: 80%;
    position: relative;
}
    
.mensajeSalida{
    position:absolute;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
#mensaje-out{
    
    background-color: rgba(0, 0, 0, 0.8);
    border: 3px solid var(--verde);
    border-radius: 20px;
    box-shadow: 0px 0px 10px;
    color: var(--verde);
    font-size: 1.5em;
    resize: none;
    height: 100%;
    text-align: center;
    width:  100%;
    padding: 2em;
    
}

.tapa{
    position:absolute;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(20, 21, 24, 0.9);
    border: 2px solid var(--verde);
    border-radius: 20px;
    box-shadow: 0px 0px 10px;
    color: var(--verde);
    resize: none;
    height:  100%;
    padding: 2em;
    
    
}

#imagen{
    height: 30%;
    width: 30%;
    opacity: 0.8;
}

.párrafoSalida{

    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 1em;

}

.párrafoSalida2{
    font-size: 1em;
    line-height: 1.2em;
    margin: 1em;
    
}

.botones{
    display: flex;
    width: 90%;
    justify-content: space-around;
    

}

.boton{
    
    background-color: var(--fondo);
    color: var(--morado);
    font-size: 1em;
    font-weight: bold;
    height:3em;
    margin: 1em;
    display:inline;
    text-align: center;
    width: 50%;
    border-radius: 24px;
    border:3px solid var(--morado);
    cursor: pointer;
    padding: 0.5em;
}

#btnEncriptar{
    color: var(--fondo);
    background:var(--morado);
}

#btnDesencriptar{
    color:var(--morado);
    background-color: var(--fondo);
}

#btnCopiar{
    margin-top: -5em;
    color:var(--verde);
    border:3px solid var(--verde);
}

#btnBorrar{
    margin-top: -5em;
    color:var(--verde);
    border:3px solid var(--verde);
}



footer{
    background-color: var(--morado);
    height: 10vh;
    width: 100% ;
    display: flex; 
    flex-direction: row;
    align-items: center;
}


footer p{
    font-size:1.5em;
    text-align: center;
    margin:auto;
    font-weight: bold;
    color: var(--verde);
}

.logosRedes{
    height: 5vh;
    margin: auto 2em;
}

/*VIEWPORTDE TABLET*/
@media screen and (max-width: 1023px) and (min-height: 600px){
    
    .container{
        width: 100vw;
    }

    .logo{
        margin-left: 1em;
        margin-right: 1em;
        font-size:6vw;
    }

    header p{
        line-height: 130%;
        margin-left: 0em;
        font-size: 3.5vw;
    }
    
    .container-main{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .entrada{
        height: 60%;
        width: 80%;
        justify-content: space-evenly;
    }

    .ingreseTexto{
        height: 70%;
        font-size: 3vw;
    }

    .container-exterior{
        align-items: center;
        font-size: 2.5vw;
    }

    .botones{
        width: 100%;
    }

    .boton{
        font-size: 2.5vw;
    }

    .mensaje{
        height:30% ;
        width: 80%;
    }
    .párrafoSalida{
        font-size: 3vw;
    }
    
    .párrafoSalida2{
        font-size: 2.5vw;
        
    }

    #mensaje-out{
        font-size: 3vw;
    }

    #imagen{
        display: none;
    }
    
}
   

/*VIEWPORTDE CELULAR*/
@media screen and (max-width: 480px){
 
    .container{
        width: 100vw;
        height: 140vh;     
    }

    

    .logo{
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    header p{
        line-height: 130%;
        margin-left: 0em;
        font-size: 4vw;
    }
    
    .container-main{
        height:120vh ;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .entrada{
        height: 50%;
        width: 80%;
        justify-content: space-evenly;
    }

    .ingreseTexto{
        height: 70%;
        font-size: 3.5vw;
    }

    .container-exterior{
        align-items: center;
        font-size: 3vw;
    }

    .botones{
        flex-direction: column;
        align-items: center;
    }
    .boton{
        width: 80%;
        font-size: 3vw;
        margin: 0.5em;
    }

    .mensaje{
        height:40% ;
        width: 80%;
    }

    .párrafoSalida{
        font-size: 3.5vw;
    }
    
    .párrafoSalida2{
        font-size: 3vw;
        
    }

    #mensaje-out{
        font-size: 3.5vw;
    }


    #imagen{
        display: none;
    }
    
    footer p{
        font-size:4vw;
        line-height: 150%;
    }
}

